@import '../../app-variables';

.valid { background-color: $success-dark; }
.invalid { background-color: $error-dark; }
.fa { font-size: 120; }
.page {
    Label { color: $text-color; }
    .fa { color: $white; }
}