@import '../../app-variables';

.valid {
    background-color: $success-light;
}
.invalid {
    background-color: $error-light;
}
.fa {
    font-size: 120;
    visibility: collapse;
}
.valid .fa.success {
    visibility: visible;
}
.invalid .fa.error {
    visibility: visible;
}